[submodule "bootcamp-course-finder-template"]
	path = bootcamp-course-finder-template
	url = https://github.com/hoya-developers/bootcamp-course-finder-template.git
[submodule "14-Intermediate-React"]
	path = 14-Intermediate-React
	url = https://github.com/hoya-developers/bootcamp-course-finder-template.git
