.outer {
  background: #aaa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.inner {
  margin: 10px;
  border: 1px solid black;
}
.red {
  padding: 0;
  background-color: red;
}
.blue {
  background-color: blue;
  padding: 10px;
}
.green {
  background-color: green;
  padding: 20px;
}
.yellow {
  background-color: yellow;
  padding: 30px;
}

.nested {
  padding: 100px;
  width: 50%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.double-nested {
  background-color: pink;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
